.App {
  text-align: center;
  position: relative; 
  overflow: hidden; 
}

.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative; 
  z-index: 1; 
}

.scrolling-text-container {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  z-index: 2; 
}

.scrolling-line {
  height: 2px;
  background-color: black;
  width: 100%;
  margin: 10px 0;
}

.scrolling-text {
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  animation: scroll-left 20s linear infinite;
  color: black;
  z-index: 2; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}


html, body, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}


.background-video {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;          
  pointer-events: none;  
}
.corner-contact {
  position: fixed; 
  top: 20px;
  right: 20px;
  z-index: 10;
}

.corner-contact a {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.corner-contact a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.corner-nav {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.logo-left {
  font-weight: bold;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 4px;
}


.contact-link {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
